
@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
footer p {
    margin: 0;
}